.App-header {
  color: rgb(235, 135, 0);
  text-align: center;
}
.App {
  background-color: rgb(6, 138, 19);
  color: black
}


.row {
  display: flex;
  flex-direction: row;
  }

.left {
  margin-right: 45%;
}

.right {
  margin-left: 45%
}
